/* Stile della Tabella */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #aad4f5;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
    -fx-padding: 10px;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #64b5f6, #42a5f5);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-color: #1e88e5;
    -fx-border-width: 0 0 2px 0;
    -fx-alignment: center;
}

.table-view .cell {
    -fx-background-color: #f7fbff;
    -fx-text-fill: #004080;
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-border-color: transparent;
}

.table-row-cell:hover {
    -fx-background-color: #e3f2fd;
    -fx-border-color: #64b5f6;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.35), 10, 0.4, 0, 3);
    -fx-transition: all 0.3s ease-in-out;
}


.table-view .cell:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
